:root {
    --primary-color: blue;
    --secondary-color: black;
    --accent1-color: green;
    --accent2color: darkred;
    --heading-font: pink;
    --body-font: Arial, helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    /*lor: var(--secondary-color);*/

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    /* padding: 200px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: blue;
    */
}

nav,
section,
p,
article {
    margin: 15px;
    padding: 8px;
    color: black;
}

/*
main,
section p {
    padding: 0.rem;
    border: 1 rem;
    margin: 1rem;
}

main,
article,
p {
    padding: 0.5rem;
    border: 1rem;
    margin-bottom: 0.5rem;
}

main,
section,
p {
    padding: 1rem;
    border: 1 rem;
    margin: 1 rem;
}
*/
.socialmedia a {
    text-decoration: none;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 10.7;
    background-color: var(--accent2color);
    color: white;

}

article {
    padding: .5rem;
    border: .5rem;
    background-color: lightblue;
    position: absolute;
    top: 20rem;
    opacity: .9;

}

.hero article img {
    float: right;
    width: 125px;

}

header {
    background-color: red;
}

nav {
    display: grid;
    grid-template-rows: 20px;

}