:root {
    --primary-color: blue;
    --secondary-color: black;

    --accent2color: darkred;
    --heading-font: pink;
    --body-font: Arial, helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    /*lor: var(--secondary-color);*/

}

header img {
    padding: 1px;
    border: 1px;
    margin: 7px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    /* padding: 200px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: blue;
    */
}

nav,
section,
p,
article {
    margin: 15px;
    padding: 8px;
    color: black;
}

.hero {
    position: relative;
}

/*
main,
section p {
    padding: 0.rem;
    border: 1 rem;
    margin: 1rem;
}

main,
article,
p {
    padding: 0.5rem;
    border: 1rem;
    margin-bottom: 0.5rem;
}

main,
section,
p {
    padding: 1rem;
    border: 1 rem;
    margin: 1 rem;
}
*/
.socialmedia a {
    text-decoration: none;

    gap: 1px;
    display: flex;
    float: left;
    flex-direction: row;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

/*.heroh1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 10.7;
    background-color: var(--accent2color);
    color: white;

}*/

.hero article {
    position: absolute;
    padding: .5rem;
    border: .5rem;
    background-color: lightblue;

    top: 20rem;
    opacity: .9;

}

.hero article img {
    float: right;
    width: 125px;

}

header {
    display: flex;
    background-color: skyblue;
}

nav {
    display: flex;
    float: right;
    flex-direction: row;
    text-align: justify;
    gap: 40px;

}

.history h2 {
    position: absolute;
    top: 750px;

    padding-top: 1px;
    width: 811px;
    text-align: center;
    margin-left: .09rem;
    left: 120px;

}

.history p {
    width: 56%;

}

.history {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: lightskyblue;
    color: black;

}

.history img {

    padding: 1px;
    border: 1px;
    margin: 20px;
}

.Adventure {
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    gap: 2px;

}

.Adventure h2 {
    position: absolute;
    top: 990px;
    text-align: center;
    width: 840px;
    font-size: 1.5rem;
    padding-top: 1px;
    border: 1px;
    margin: 1px;

}

.Adventure figure {
    display: grid;
    text-align: center;
}

.figure img {
    padding: 1px;
    margin: 1px;
    border: 1px;

}

footer {

    padding-top: 1px;
    border: 1px;
    margin: 1px;
    background-color: skyblue;
    height: 150px;
    position: absolute;
    left: 260px;

}

.contact-info.address {
    position: relative;
    left: 600px;
    top: 10px;
    padding: 0rem;
    border: 0rem;
    margin: auto;
    display: grid;
}

.contact-info address {
    display: flex;
    justify-self: center;
}

.contact-info a {
    display: flex;
    justify-content: center;

}

.user .fieldset {
    display: flex;
    flex-direction: column;
    padding-left: 9rem;
}

.user-contact-info {
    display: block;
    position: absolute;
    top: 300px;
    width: 200px;
    left: 725px;

}

h1 {
    position: relative;
    top: -500px;
    left: 0px;
    opacity: 10.7;
    text-align: center;
    background-color: var(--accent2color);
    color: white;
    width: 840px;
}

.employees {
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

/*.div img {
    max-width: fit-content;
    position: relative;

}*/

.user-index-info {
    position: relative;

}

.user-index-info a {
    position: relative;
    right: 165px;

}

.index-info {
    position: relative;
    display: flex;
    gap: 40px;
    top: 5px;
    margin: 15px;
}

/*.h4 {
    align-items: center;
    top: 580;
    left: 70px;
}

.purpose-index p {
    left: 5px;
}*/

h3 {
    display: block;
    position: relative;
    left: 55px;
    bottom: 20px;

}

.index-info figcaption {
    position: relative;
    top: 5px;
    right: 250px;
}

h4 {
    text-align: center;

}

h5 {
    text-align: center;
}

.Trips {
    padding: 1px;
    border: 0px;
    margin: 5px;
    background-color: pink;
}

.Trips img {
    align-items: center;
    margin: 15px;

}

.trip-table {
    left: 150px;
    width: 5%;
    align-items: center;

}

.cta-button {
    background-color: aqua;
    display: inline-block;
    color: black;
    padding: .75rem 2rem;
    border-radius: 4rem;
    font-weight: 900;
    transition: all 0.3s ease;
    width: 240px;
    position: absolute;
    top: 400px;
    left: 600px;

}

.cta-button:hover {
    transform: scale(1.5);
}