:root {
    --primary-color: blue;
    --secondary-color: black;
    --accent1-color: green;
    --accent2color: darkred;
    --heading-font: pink;
    --body-font: orange;

}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 540px;
    margin: 60px;
    color: var(--secondary-color);

}

h1 {
    position: absolute;
    width: 100%;
    padding: 0.5px;
    opacity: 10.7;
    background-color: var(--accent2color);
    color: white;

}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 200px;
    margin-top: 1px;
    margin-bottom: 1px;
}

nav,
p article {
    margin: 1px;
    padding: 30px;
}

main,
section p {
    padding: 0.rem;
    border: 1 rem;
    margin: 1rem;
}

main,
article,
p {
    padding: 0.5rem;
    border: 1rem;
    margin-bottom: 0.5rem;
}

main,
section,
p {
    padding: 1rem;
    border: 1 rem;
    margin: 1 rem;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    padding: 3rem
}