:root {
    --primary-color: blue;
    --secondary-color: black;
    --accent1-color: green;
    --accent2color: darkred;
    --heading-font: pink;
    --body-font: Arial, helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    /*lor: var(--secondary-color);*/

}

header img {
    padding: 1px;
    border: 1px;
    margin: 7px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    /* padding: 200px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: blue;
    */
}

nav,
section,
p,
article {
    margin: 15px;
    padding: 8px;
    color: black;
}

.hero {
    position: relative;
}

/*
main,
section p {
    padding: 0.rem;
    border: 1 rem;
    margin: 1rem;
}

main,
article,
p {
    padding: 0.5rem;
    border: 1rem;
    margin-bottom: 0.5rem;
}

main,
section,
p {
    padding: 1rem;
    border: 1 rem;
    margin: 1 rem;
}
*/
.socialmedia a {
    text-decoration: none;

    gap: 1px;
    display: flex;
    float: left;
    flex-direction: row;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 10.7;
    background-color: var(--accent2color);
    color: white;

}

.hero article {
    position: absolute;
    padding: .5rem;
    border: .5rem;
    background-color: lightblue;

    top: 20rem;
    opacity: .9;

}

.hero article img {
    float: right;
    width: 125px;

}

header {
    display: flex;
    background-color: skyblue;
}

nav {
    display: flex;
    float: right;
    flex-direction: row;
    text-align: justify;
    gap: 40px;

}

.history h2 {
    position: absolute;
    top: 715px;

    padding-top: 1px;
    width: 811px;
    text-align: center;
    margin-left: .09rem;
    left: 19.5%;

}

.history p {
    width: 56%;

}

.history {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: lightskyblue;
    color: black;

}

.history img {

    padding: 1px;
    border: 1px;
    margin: 20px;
}

.Adventure {
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    gap: 2px;

}

.Adventure h2 {
    position: absolute;
    top: 950px;
    text-align: center;
    width: 840px;
    font-size: 1.5rem;
    padding-top: 1px;
    border: 1px;
    margin: 1px;

}

.Adventure figure {
    display: grid;
    text-align: center;
}

.figure img {
    padding: 1px;
    margin: 1px;
    border: 1px;

}

.footer {

    padding-top: 1px;
    border: 1px;
    margin: 1px;

}