:root {
    --primary-color: blue;
    --secondary-color: black;
    --accent1-color: red;
    --accent2color: darkred;
    --heading-font: pink;
    --body-font: orange;

}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: green;
}

header,
main,
footer {
    width: 840px;
    margin: 40px;
    color: var(--secondary-color);

}

h1 {}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 50px;
}

nav,
p,
section,
article {
    margin: 1px;
    padding: 30px;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    width: 100%;
    padding: 1px;
    opacity: 0.7;
    background-color: var(--accent2color);
    color: white;

}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
}