main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0.4, 8);
    padding: 1rem;
    background-color: white;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}

main img {
    width: 150px;
    height: auto;
    border: 1rem;
    box-shadow: 0 8px 20px rgb(0, 0, 0.08);
    padding: 0 1rem;
    color: aqua;

}

h1 {
    color: rebeccapurple;
}

nav {
    background-color: violet;
    padding: 1rem;
}