* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid;
    padding: 1rem;
    background-color: white;
    color: #333;
    text-align: center;
}

aside img {
    width: 100px;
    height: auto;
}

main img {
    width: 130px;
    height: auto;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}

main img {
    width: 100px;
    height: auto;
    border: 1rem;
    box-shadow: 0 3px 20px rgb(0, 0, 0.08);
    padding: 0 1rem;
    color: aqua;
    float: right;

}

h1 {
    color: rebeccapurple;
}

nav {
    background-color: violet;
    padding: 1rem;
}

nav a {
    color: darkgreen;
    padding: 1rem;
    display: block;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1rem;
    padding: 1rem;
    background-color: goldenrod;
    color: navy;
}