.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(red, green, blue);
    padding: 15px;
    background-color: navy;
    color: white;
}

.callout img {
    float: right;
    margin: 10px;
    border: 1px solid;
    padding: 1px;
    background-color: blue;
    width: 200px;
    height: 170px;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted;
    padding: 99px;
    text-align: right;
    size: smaller;
}