main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(red, green, blue);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 149px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 14px;
    border-top: 1px solid #000;
    text-align: centre;
}