main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(red, green, blue);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1rem;
    box-shadow: cyan;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: centre;
}

nav {
    background-color: #000;
    padding: 1rem;
    color: white;
    display: block;
}

h1 {
    color: blue;
}