* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
}

header,
footer {
    background-color: #333;
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem
}

main {
    width: 400px;
    margin: 0;

}

h1 {
    margin: 40px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #333;
}

section {
    margin: 20px 0;
    border: ipx solid rgb;
    padding: 10px;
    background-color: red;
    font-size: 1rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px;
}

footer {
    font-size: .9rem;
}